

$color-text: #000000;
$color-background: #ffffff;

$btn-bg-color: #ffffff; // Fondo blanco
$btn-text-color: #000000; // Color del texto
$btn-border-color: #000000; // Color del borde
$btn-border-width: 1px; // Ancho del borde
$btn-padding: 0.3rem 0.6rem; // Espaciado interno
$btn-font-size: 1rem; // Tamaño del texto
$btn-transition-time: 0.3s; // Tiempo de transición